<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Menu</span>
                </li>
                <li class="">
                    <NavLink href="/"><i class="fe fe-home"></i> <span>Dashboard</span></NavLink>
                </li>
                <li class="submenu">
                    <NavLink><i class="fe fe-tiled"></i> <span> Measurements</span> <span class="menu-arrow"></span></NavLink>
                    <ul style="display: none;">
                        <li><NavLink class="" href="measurement-headers">Measurement Headers</NavLink></li>
                        <li><NavLink class="" href="measurement-standard-sizes">Standard Sizes</NavLink></li>
                    </ul>
                </li>
                <li class="submenu">
                    <NavLink><i class="fe fe-vector"></i> <span> Clothes Mgt</span> <span class="menu-arrow"></span></NavLink>
                    <ul style="display: none;">
                        <li><NavLink class="" href="clothes-accessories">Clothes Accessories</NavLink></li>
                        <li><NavLink class="" href="clothes-types">Clothes Types</NavLink></li>
                        <li><NavLink class="" href="Admin/Clothes/ReadyToWear">Ready-to-wear Clothes</NavLink></li>
                    </ul>
                </li>
                <li class="submenu">
                    <NavLink><i class="fe fe-money"></i> <span> Expenses</span> <span class="menu-arrow"></span></NavLink>
                    <ul style="display: none;">
                        <li><NavLink class="" href="incurred-expenses">Incurred Expenses</NavLink></li>
                        <li><NavLink class="" href="operating-expenses">Operating Expenses</NavLink></li>
                    </ul>
                </li>
                @*<li class="submenu">
                        <NavLink><i class="fe fe-cart"></i> <span> Ecommerce</span> <span class="menu-arrow"></span></NavLink>
                        <ul style="display: none;">
                            <li><NavLink href="products.html">Products</NavLink></li>
                            <li><NavLink href="product-details.html">Product View</NavLink></li>
                            <li><NavLink href="orders.html">Orders</NavLink></li>
                            <li><NavLink href="customers.html">Customers</NavLink></li>
                            <li><NavLink href="invoice.html">Invoice</NavLink></li>
                        </ul>
                    </li>
                    <li>
                        <NavLink href="users.html"><i class="fe fe-users"></i> <span>Users</span></NavLink>
                    </li>*@

            </ul>
        </div>
    </div>
</div>